*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: black;
  color: white;
}

scrollbar {
  display: none;
}

/* #carouselExampleInterval::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 20%, transparent);
  ;
  z-index: 111111;
} */

#carouselExampleInterval::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, black, transparent);
  z-index: 1111;
}

body {
  font-family: cursive;
}

::-webkit-scrollbar {
  display: none;
}

section {
  height: 100vh;
}

.con {
  height: 100%;
  padding: 50px;
  display: grid;
  grid-template-rows: 2;
  gap: 50px;
  align-content: center;
}

.gamewrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.buttonwrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}


.startButton {
  padding: 20px;
  border: none;
  background-color: whitesmoke;
  color: black;
  font-size: 2em;
  width: 200px;
  height: 100px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
}

.startButton.blink {
  padding: 20px;
  border: none;
  background-color: whitesmoke;
  color: black;
  font-size: 2em;
  width: 200px;
  height: 100px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  animation: klikme 0.7s infinite;
}



.stop {
  padding: 20px;
  border: none;
  background-color: whitesmoke;
  color: black;
  font-size: 2em;
  width: 200px;
  height: 100px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 50px;

}

.stop.blink {
  padding: 20px;
  border: none;
  background-color: whitesmoke;
  color: black;
  font-size: 2em;
  width: 200px;
  height: 100px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  animation: klikme 0.7s infinite;
}

.gambar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px;
  text-align: center;
  background-color: rgba(7, 7, 7, 0.7);
  z-index: 200000;
}

.kol,
.textHadiah {
  background-color: transparent;
}

.gambar div img {
  height: 512px;
  width: 512px;
  border-radius: 100px;
  box-shadow: 0px 0px 5px 1px rgba(167, 164, 164, 0.5);

}


.box {
  text-align: center;
  font-size: 5em;
  margin: 10px;
  padding: 15px;
  border: 5px solid white;
}


.mod,
.alrt {
  height: 100%;
  padding: 100px;
  background-color: rgba(7, 7, 7, 0.8);
}

.kelu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 200px;
  text-align: center;
  background-color: rgba(7, 7, 7, 0.7);
  z-index: 200000;
}

.proff {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 200px;
  text-align: center;
  background-color: rgba(7, 7, 7, 0.7);
  z-index: 200000;
}

@keyframes klikme {
  0% {
    background-color: black;

  }

  100% {
    background-color: whitesmoke;
  }
}


.register {
  cursor: pointer;
}


#reward {
  display: none;
}


@media (max-width: 768px) {
  .gambar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 100px;
    text-align: center;
    background-color: rgba(7, 7, 7, 1);
    z-index: 20;
  }

  .gambar div img {
    height: 300px;
    width: 300px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 1px rgba(167, 164, 164, 0.5)
  }

  .con {
    height: 100%;
    padding: 50px;
    display: grid;
    grid-template-rows: 2;
    align-content: center;
  }

  .gamewrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }

  .buttonwrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
  }

  .gambar div img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px rgba(167, 164, 164, 0.5);

  }


  .box {
    text-align: center;
    font-size: 1em;
    margin: 3px;
    padding: 5px;
    border: 5px solid white;
  }


}

#start {
  display: none;
}

.bank {
  position: relative;
  height: 200px;
  border-radius: 20px;
  transform-style: preserve-3d;
}

.bank-img {
  position: absolute;
  max-width: 150px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 50px);
  transition: 0.5s;
  background-color: transparent;

}

.bank:hover .bank-img {
  transform: translate3d(-50%, -50%, 50px) scale(1.2);

}

.depoBank {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  animation: zoomColor 1s linear infinite alternate;
}

* {
  font-family: 'Germania One', cursive;
}

@keyframes zoomColor {
  0% {
    color: aqua;
  }

  25% {
    color: rgb(0, 255, 102);
  }

  50% {
    color: rgb(195, 255, 0);
  }

  75% {
    color: rgb(255, 55, 0);
  }

  100% {
    color: rgb(255, 0, 0);
    transform: translate3d(-50%, -50%, 50px) scale(1.5);
  }
}

.kredit4,
.prof {
  cursor: pointer;
}